# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.yarn
.pnp.*

# testing
/coverage

# files
/build
/obj-processing
/texture-generator
/public
/src

# misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
