.root {
  display: flex;
}

.canvas {
}

.debugCanvas {
}

.fpsCounter {
  position: fixed;
  top: 0;
  right: 0;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.output {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: end;
  top: 20px;
  right: 0;
  margin: 0;
  user-select: none;
  pointer-events: none;

  & > * {
    padding: 4px 6px;
    background: rgba(200, 200, 200, 0.5);
  }
}
