.canvas {
}

.fpsCounter {
  position: fixed;
  top: 0;
  right: 0;
  white-space: nowrap;
  pointer-events: none;
  user-select: none;
}

.output {
  position: fixed;
  top: 20px;
  right: 0;
  margin: 0;
}
