.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: fromTop 0.5s ease-out;
}

@keyframes fromTop {
  from {
    opacity: 0;
    transform: translate(0, -500px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.startButton {
  pointer-events: initial;
  padding: 4px 16px;
  font-size: 24px;
  line-height: 36px;
  border: none;
  appearance: none;
  cursor: pointer;
  color: #484848;
  background: #c4cbc1;
}

.startButtonMain {
  padding: 8px 16px;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  background: seagreen;
}
